<div class="top" ng-show="scorers">
    <div class="row">
    </div>
    <div class="row">
        <div class="row-item sm-goals">
        </div>
        <div class="row-item team-hdr goals">
            <h3 class="header-text">NAME</h3>
        </div>
        <div class="row-item team-hdr goals">
            <h3 class="header-text">TEAM</h3>
        </div>
        <!--<div class="row-item small">
            <h3 class="header-text">MP</h3>
        </div>-->
        <!--<div class="row-item small">
            <h3 class="header-text">Pen</h3>
        </div>-->
        <div class="row-item sm-goals no-margin">
            <h3 class="header-text">G</h3>
        </div>
    </div>
</div>

<div class="tbl-wrapper" ng-show="scorers">
    <div class="row" ng-repeat="player in scorers">
        <span ng-class-odd="'odd'" ng-class-even="'even'">
            <div class="row-item sm-goals row-text">
                <h3>{{player.rank}}.</h3>
            </div>
            <div class="row-item team-hdr row-left goals">
                <h3>{{player.name}}</h3>
            </div>
            <div class="row-item team-hdr row-left goals">
                <h3>{{player.team}}</h3>
            </div>
    
            <!--<div class="row-item small row-text">
                <h3>{{player.matchesPlayed}}</h3>
            </div>-->
            <!--<div class="row-item small row-text">
                <h3>{{player.penalties}}</h3>
            </div>-->
            <div class="row-item sm-goals no-margin row-text">
                <h3>{{player.goals}}</h3>
            </div>
        </span>
    </div>
</div>

















<!--<div class="table-wrapper previous" ng-show="scorers">
    <div ng-repeat="player in scorers" >
        {{player.name}} {{player.goals}} {{player.team}}
    </div>
</div>-->