<div ng-if="ucl">
    <h2>{{championsLeague}}</h2>
</div>

<div class="top sub-hdr" ng-show="league">
    <div class="row league-row">
    </div>
    <div class="row league-row">
        <div class="row-item small">
        </div>
        <div class="row-item team-hdr">
            <h3 class="header-text">TEAM</h3>
        </div>
        <div class="row-item small">
            <h3 class="header-text">GP</h3>
        </div>
        <div class="row-item small">
            <h3 class="header-text">W</h3>
        </div>
        <div class="row-item small">
            <h3 class="header-text">L</h3>
        </div>
        <div class="row-item small">
            <h3 class="header-text">D</h3>
        </div>
        <div class="row-item small">
            <h3 class="header-text">PTS</h3>
        </div>
    </div>
</div>
<div class="tbl-wrapper" ng-show="league">
    <div class="row league-row" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="team in league">
        <div class="row-item small row-text">
            <h3>{{team.position}}.</h3>
        </div>
        <div class="row-item team-hdr row-left">
            <h3>{{team.team}}</h3>
        </div>
        <div class="row-item small row-text">
            <h3>{{team.gamesPlayed}}</h3>
        </div>
        <div class="row-item small row-text">
            <h3>{{team.wins}}</h3>
        </div>
        <div class="row-item small row-text">
            <h3>{{team.losses}}</h3>
        </div>
        <div class="row-item small row-text">
            <h3>{{team.draws}}</h3>
        </div>
        <div class="row-item small row-text">
            <h3>{{team.points}}</h3>
        </div>
    </div>
</div>