<header>
    <div class="header-item">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/15/Bundesliga_logo.svg/637px-Bundesliga_logo.svg.png">
    </div>

    <div class="header-item">
        <div class="header-sub-item">
            <img class="flag" src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/1000px-Flag_of_Germany.svg.png">
        </div>

        <div class="header-sub-item">
            <h1>Bundesliga</h1>
        </div>
    </div>
</header>

<div class="sub-menu" ng-click="getBundesliga()">
    <div class="sub-menu-item pointer">
        <h3>League Table</h3>
    </div>

    <div class="sub-menu-item pointer">
        <h3>Upcoming Fixtures</h3>
    </div>
</div>

<league-standings league="bundesliga"></league-standings>