<header>
    <div class="header-item">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bf/UEFA_Champions_League_logo_2.svg/200px-UEFA_Champions_League_logo_2.svg.png">
    </div>

    <div class="header-item">
        <div class="header-sub-item">
            <!--<img class="flag" src="https://upload.wikimedia.org/wikipedia/en/a/ab/UEFA_logo_2012.png">-->
        </div>

        <div class="header-sub-item">
            <h1>UEFA Champions League</h1>
        </div>
    </div>
</header>

<div class="sub-menu">
    <div class="sub-menu-item">
        <h3>Standings</h3>
    </div>
</div>