<div class="row">
    <div class="col">
        <a href="#/epl">English Premier League</a>
    </div>
    <div class="col">
        <a href="#/bundesliga">Bundesliga</a>
    </div>
    <div class="col">
        <a href="#/spanish-primera">Spanish Primera</a>
    </div>
    <div class="col">
        <a href="#/serie-a">Serie A</a>
    </div>
</div>

<div class="row">
    <div class="col">
        <a href="#/ligue1">Ligue 1</a>
    </div>
    <div class="col">
        <a href="#/portugal-primeira">Portugal Primeira</a>
    </div>
    <div class="col">
        <a href="#/eredivisie">Eredivisie</a>
    </div>
    <div class="col">
        <a href="#/champions-league">UEFA Champions League</a>
    </div>
</div>