<div class="row">
    <div class="col">
        <a href="#/epl"><h3>English Premier League</h3></a>
    </div>
    <div class="col">
        <a href="#/bundesliga"><h3>Bundesliga</h3></a>
    </div>
    <div class="col">
        <a href="#/spanish-primera"><h3>Spanish Primera</h3></a>
    </div>
    <div class="col">
        <a href="#/serie-a"><h3>Serie A</h3></a>
    </div>
</div>

<div class="row">
    <div class="col">
        <a href="#/ligue1"><h3>Ligue 1</h3></a>
    </div>
    <div class="col">
        <a href="#/portugal-primeira"><h3>Portugal Primeira</h3></a>
    </div>
    <div class="col">
        <a href="#/eredivisie"><h3>Eredivisie</h3></a>
    </div>
    <div class="col">
        <a href="#/champions-league"><h3>UEFA Champions League</h3></a>
    </div>
</div>