<div class="row">
    <div class="col">
        <a href="#/leagues/epl"><h3>English Premier League</h3></a>
    </div>
    <div class="col">
        <a href="#/leagues/bundesliga"><h3>Bundesliga</h3></a>
    </div>
    <div class="col">
        <a href="#/leagues/spanish-primera"><h3>Spanish Primera</h3></a>
    </div>
    <div class="col">
        <a href="#/leagues/serie-a"><h3>Serie A</h3></a>
    </div>
</div>

<div class="row">
    <div class="col">
        <a href="#/leagues/ligue1"><h3>Ligue 1</h3></a>
    </div>
    <div class="col">
        <a href="#/leagues/portugal-primeira"><h3>Portugal Primeira</h3></a>
    </div>
    <div class="col">
        <a href="#/leagues/eredivisie"><h3>Eredivisie</h3></a>
    </div>
    <div class="col">
        <a href="#/leagues/champions-league"><h3>UEFA Champions League</h3></a>
    </div>
</div>