<div class="main-wrapper">
    <div class="main-sidebar">
        <div class="logo">
            <img src="./assets/freestyle_soccer_silhouette.png" alt="">
        </div>
        <a href="#/leagues/epl">
            <div class="tab">
                <h2>TABLE</h2>
            </div>
        </a>
        <a href="#/leagues/epl">
            <div class="tab">
                <h2>FIXTURES</h2>
            </div>
        </a>
        <a href="#/leagues/epl">
            <div class="tab">
                <h2>RESULTS</h2>
            </div>
        </a>
        <a href="#/leagues/epl">
            <div class="tab">
                <h2>TOP SCORERS</h2>
            </div>
        </a>
        <a href="#/info">
            <div class="tab activeTab">
                <h2>INFO</h2>
            </div>
        </a>
    </div>
    <div class="top title">
        <h1> <a href="#/leagues/epl"><span><&nbsp;</span></a> futbolWatch FC <a href="#/leagues/epl"><span>&nbsp;></span></a></h1>
    </div>
    <div class="top bkgrnd">
    </div>
</div>
<div class="footer">
    <h6>futbolWatch FC &copy; 2015 - Blake Hagen &nbsp;|&nbsp; Designed by Jeff Hagen</h6>
</div>