<header>
    <div class="header-item">
        <img ng-src="{{leagueData.leagueLogoPath}}">
    </div>

    <div class="header-item">
        <div class="header-sub-item">
            <img class="flag" ng-src="{{leagueData.flagPath}}">
        </div>

        <div class="header-sub-item">
            <h1>{{leagueData.leagueHeader}}</h1>
        </div>
    </div>
</header>

<div class="sub-menu">
    <div class="sub-menu-item pointer" ng-click="getStandings()">
        <h3>Table</h3>
    </div>
    <div class="sub-menu-item pointer" ng-click="getNextMatches()">
        <h3>Fixtures</h3>
    </div>
    <div class="sub-menu-item pointer" ng-click="getPreviousMatches()">
        <h3>Results</h3>
    </div>
    <div class="sub-menu-item pointer" ng-click="getScorers()">
        <h3>Top Scorers</h3>
    </div>
</div>

<league-standings league="league" ng-show="toggleStandings"></league-standings>

<upcoming-matches next="next" ng-show="toggleNextMatches"></upcoming-matches>

<previous-matches previous="previous" ng-show="togglePreviousMatches"></previous-matches>

<top-scorers scorers="scorers" ng-show="toggleTopScorers"></top-scorers>