<header>
    <div class="header-item">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9b/Logo_de_la_Ligue_1_%282008%29.svg/364px-Logo_de_la_Ligue_1_%282008%29.svg.png">
    </div>

    <div class="header-item">
        <div class="header-sub-item">
            <img class="flag" src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/900px-Flag_of_France.svg.png">
        </div>

        <div class="header-sub-item">
            <h1>Ligue 1</h1>
        </div>
    </div>
</header>

<div class="sub-menu">
    <div class="sub-menu-item pointer" ng-click="getLigue1()">
        <h3>League Table</h3>
    </div>
</div>

<league-standings league="ligue1" ng-show="toggleStandings"></league-standings>