<header>
    <div class="header-item">
        <img src="https://upload.wikimedia.org/wikipedia/en/0/04/Liga_portugal_logo2009.png">
    </div>

    <div class="header-item">
        <div class="header-sub-item">
            <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Portugal.svg/600px-Flag_of_Portugal.svg.png">
        </div>

        <div class="header-sub-item">
            <h1>Portugal Primeira</h1>
        </div>
    </div>
</header>

<div class="sub-menu" ng-click="getPortugalPrimeira()">
    <div class="sub-menu-item pointer">
        <h3>League Table</h3>
    </div>
</div>

<league-standings league="portugalPrimeira"></league-standings>