<div class="top" ng-show="next">
    <div class="row">
        <input type="text" placeholder="Search Team" class="filter team-filter" ng-model="filterTeam">
        </input>
    </div>
    <div class="row">
        <div class="row-item date-hdr-next">
            <h3 class="header-text">DATE</h3>
        </div>
        <div class="row-item team-hdr-next">
            <h3 class="header-text">HOME</h3>
        </div>
        <div class="row-item small sm-next">
            <h3 class="header-text"></h3>
        </div>
        <div class="row-item team-hdr-next">
            <h3 class="header-text">AWAY</h3>
        </div>
    </div>
</div>



<div class="tbl-wrapper" ng-show="next">
    <div class="row" ng-repeat="match in next | filter : filterTeam">
        <span ng-class-odd="'odd'" ng-class-even="'even'">
        <div class="row-item date-hdr-next">
                <h3 class="nxt-text h3-date">{{match.matchDate}}</h3>
            </div>
        <div class="row-item team-hdr-next">
                <h3 class="nxt-text">{{match.homeTeam}}</h3>
            </div>
        <div class="row-item small sm-next">
                <h3 class="nxt-text">v</h3>
            </div>
    
        <div class="row-item team-hdr-next">
                <h3 class="nxt-text">{{match.awayTeam}}</h3>
            </div>
        </span>
    </div>
</div>