/* * * * * LEAGUE TMPL TABLE STYLES * * * * */

.table-wrapper {
    width: 450px;
    border: 1px solid #ddd;
    border-bottom: none;
    margin: 30px 50px 20px 50px;
    /*border: 1px solid indianred;*/
}

.center-strong {
    text-align: center;
    font-weight: 400;
}

.table-row {
    width: 100%;
    border-bottom: 1px solid #ddd;
    /*border: 1px solid green;*/
}

.table-item {
    /*border: 1px solid darkblue;*/
    width: 30px;
    display: inline-block;
    text-align: center;
}

.big {
    width: 230px;
    text-align: left;
}

/* * * * * UPCOMING MATCHES STYLES * * * * */

.main-wrap {
    margin-bottom: 10px;
}

.team {
    width: 260px;
    display: inline-block;
    text-align: left;
    padding-left: 36px;
}

.matches {
    width: 825px;
}

.time {
    width: 250px;
    margin: -15px 0 0 75px;
}

.date {
    text-align: left;
    padding-left: 15px;
    width: 250px;
    display: inline-block
}

/* * * * * PREVIOUS MATCHES STYLES * * * * */

.previous {
    width: 816px;
}

.matchDay {
    width: 70px;
}

.date-previous {
    width: 175px;
}

.team-header {
    width: 260px;
    display: inline-block;
    text-align: center;
}

.center {
    text-align: center;
}

.filter-container {
    width: 816px;
    height: 40px;
    margin: 30px 0 0 50px;
    /*border: 1px solid #ddd;*/
    text-align: left;
}

.filter-sub-container {
    width: 330px;
    height: 100%;
    /*border: 1px solid darkblue;*/
    margin: 0 6px;
    display: inline-block;
}

.filter-type {
    height: 100%;
    /*border: 1px solid deeppink;*/
    line-height: 40px;
    display: inline-block
}

.filter-item {
    width: 210px;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 30px;
    display: inline-block;
    vertical-align: top;
    padding-left: 18px;
    font-size: 15px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

.filter-text {
    line-height: 39px;
    margin: 0;
}

.match-filter {
    width: 50px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}