@media (max-width: 630px){
    .main-wrapper {
        width: 430px;
        height: 571px;
    }
    
    .main-sidebar {
        display: none;
    }
    
    .top-responsive {
        display: block;
        /*border: 1px solid red;*/
        text-align: left;
        padding-bottom: 8px;
    }
    
    .img-container {
        /*border: 1px solid purple;*/
        height: 100%;
        text-align: center;
        display: inline-block;
        vertical-align: top;
    }
    
    img {
        height: 97%;
        z-index: 999;
    }
    
    .menu {
        line-height: 68px;
        padding-top: 5px;
        color: #ddd;
        cursor: pointer;
    }
    
    .page-id {
        line-height: 68px;
        padding-top: 2px;
        float: right;
        color: #ddd; 
        margin-right: 15px;  
    }
    
    .left {
        margin: 0 15px;
    }
    
    /* SMALL MENU */
    
    .responsive-menu {
        display: block;
        /*border: 1px solid darkorange;*/
        width: 100%;
        height: 35px;
        margin-top: 0px;
        text-align: center;
        background: #3C4B4D;
        opacity: .9;
    }
    
    .sm-menu-btn {
        background: #1F2A2D;
        color: #A3A3A3; 
        height: 23px;
        width: 65px;
        display: inline-block;
        border-radius: 20px;
        margin: 10px 4px 0 0;
        vertical-align: top;
        text-align: center;
        cursor: pointer;
    }
    
    .sm-menu-btn-text {
        line-height: 23px;
        margin: 0;
        font-size: 9px;
    }
    
    .mainExtend {
        height: 614px;
    }

    .mainNormal {
        height: 581px;
    }
    
    .active-sm-button {
        background: #BD4545;
        color: #fff;
    }
    
    .sm-button-non-active {
        background: #1F2A2D;
    }
}

@media (max-width: 460px){
    
    h3 {
        font-size: 11px;
    }
    
    .main-wrapper {
        width: 95%;
    }
        
    .top {
        width: 100%;
    }
    
    .tbl-wrapper {
        width: 100%;
    }
    
    .header-text {
        padding-top: 12px;
        font-size: 9px;
    }
    
    .row {
        padding-right: 2px;
    }
    
    .row-left {
        text-align: left;
        line-height: 33px;
        padding-left: 5px;  
    }
    
    .team-hdr {
        width: 41%;
    }
    
    .team-hdr-next {
        width: 40%;
    }
    
    .nxt-text {
        padding-left: 3px;
    }
    
    .small {
        width: 7%;
    }
    
    .date-hdr-next {
        width: 9%;
        margin-left: 0;
        padding-left: 10px;
    }
    
    .h3-date {
        font-size: 9px;
    }
    
    .team-hdr-results {
        width: 40%
    }
    
    .sm-goals {
        width: 5%;
        margin-left: 0px;
        padding-left: 10px;
    }
}

@media (max-width: 400px){
    
    h1 {
        font-size: 14px;
    }
    
    h3 {
        font-size: 9px;
    }
    
    .row-left {
        line-height: 36px;
        padding-left: 2px;  
    }
    
    .team-hdr {
        width: 45%;
    }
    
    .team-hdr-next {
        width: 37%;
    }
    
    .sm-menu-btn {
        width: 50px;
        margin: 0 2px;
    }
    
    .sm-menu-btn-text {
        line-height: 23px;
        margin: 0;
        font-size: 7px;
    }
    
    .filter {
        width: 75px;
    }
    
    .filter-text {
        font-size: 8px;
    }
    
    .match-day-filter {
        width: 40px;
        float: left;
        font-size: 8px;
    }
    
    .goals {
        width: 40%px;
    }
    
    .goals-name {
        width: 35%px;
    }
    
    .team-hdr-gls {
        width: 38%;
    }
}